<?xml version="1.0"?>
<!-- 
  Copyright (c) 2023 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot  xmlns:xacro="http://ros.org/wiki/xacro" name="pmb3" >
  <xacro:arg name="laser_model" default="ydlidar-tg30"/>
  <xacro:arg name="camera_model" default="realsense-d435"/>
  <xacro:arg name="multiple" default="false"/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="simulation" default="true" />
  <xacro:property name="is_multiple" value="$(arg multiple)" />
  <xacro:property name="use_nominal_extrinsics" value="$(arg simulation)"/>
  <xacro:property name="nsp" value="$(arg namespace)" />
  <xacro:property name="laser_model" value="$(arg laser_model)" />
  <xacro:if value="${laser_model not in ['No', 'false', False, 'sick-551', 'sick-561', 'sick-571', 'hokuyo', 'ydlidar-tg30', 'ydlidar-tg15', 'sick-nanoscan-3']}">
    <xacro:wrong_laser_model/>
  </xacro:if>

  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- Base -->
  <xacro:include filename="$(find pmb3_description)/urdf/base/base_sensors.urdf.xacro" />

  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find pmb3_description)/gazebo/gazebo.urdf.xacro" />
  <!-- ros2_control -->
  <xacro:include filename="$(find pmb3_description)/ros2_control/ros2_control.urdf.xacro" />
  <xacro:pmb3_ros2_control simulation="$(arg simulation)" />
  <!-- Materials for visualization -->
  <xacro:include filename="$(find pmb3_description)/urdf/materials.urdf.xacro" />

  <!-- Now we can start using the macros included above to define the actual robot -->
  <xacro:base_sensors name="base" laser_model="$(arg laser_model)" camera_model="$(arg camera_model)"/>

</robot>
