<launch>
  <arg name="multi" default=""/>
  <arg name="laser_model"  default="sick-nanoscan-3"/>
  <arg name="camera_model"  default="realsense-d345"/>

  <!-- Robot description -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder
    '$(find pmb3_description)/robots/pmb3.urdf.xacro'
    laser_model:=$(arg laser_model)
    camera_model:=$(arg camera_model)
    $(arg multi)" />
 <rosparam command="load" file="$(find pmb3_description)/config/joint_limits.yaml" />
</launch>
